
body {
    font-family: Arial;
    padding: 1rem;
}


/*
 * CSS-Regel für Formatierung von Wörtern, die einen Tooltip haben.
 *
 * Position wird auf "relative" gesetzt, weil Elemente mit "position:absolute" relativ 
 * zum nächsten Elternelement mit "position:relative" positioniert werden.
 */
.kurzinfo {
	position       : relative;
	color          : blue;
	text-decoration: underline;
}


/*
 * CSS-Regel, um den Text aus dem Custom Data Attribute "data-kurzinfo" als Tooltip anzuzeigen.
 * Wegen "opacity: 0" ist der Tooltip anfangs unsichtbar.
 */
.kurzinfo::after {
	content      : attr( data-kurzinfo ); 
	position     : absolute;
	bottom       : 130%;
	left         : 20%;
	background   : yellow;
    color        : black;
	padding      : 0.2em 0.4em;	
	border-radius: 0.3em;
	opacity      : 0;
	min-width    : 10em;
	max-width    : 20em;
}


/*
 * CSS-Regel, um den Tooltip sichtbar zu machen, wenn der Mauszeiger über das Element fährt.
 */    
.kurzinfo:hover::after,
.kurzinfo:focus::after {
	opacity: 1;
	bottom : 100%;
}

